@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #ff8b47;
  --secondary-color: #142444;
  --accent-color: #3267FF;
  --background-color: #FFFFFF;
  --background-color-dark: #0B0F17;
  --text-color: #1A1A1A;

 
  --primary-color-10: color-mix(in srgb, var(--primary-color) 10%, transparent);
  --primary-color-20: color-mix(in srgb, var(--primary-color) 20%, transparent);
  --primary-color-30: color-mix(in srgb, var(--primary-color) 30%, transparent);
  --primary-color-40: color-mix(in srgb, var(--primary-color) 40%, transparent);
  --primary-color-50: color-mix(in srgb, var(--primary-color) 50%, transparent);
  --primary-color-60: color-mix(in srgb, var(--primary-color) 60%, transparent);
  --primary-color-70: color-mix(in srgb, var(--primary-color) 70%, transparent);
  --primary-color-80: color-mix(in srgb, var(--primary-color) 80%, transparent);
  --primary-color-90: color-mix(in srgb, var(--primary-color) 90%, transparent);

  
  /* Typography */
  --heading-font: var(--font-manrope), system-ui, sans-serif;
  --body-font: var(--font-archivo), system-ui, sans-serif;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family: var(--body-font);
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}