@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #ff8b47;
  --secondary-color: #142444;
  --accent-color: #3267FF;
  --background-color: #FFFFFF;
  --background-color-dark: #0B0F17;
  --text-color: #1A1A1A;
  
  /* Typography */
  --heading-font: var(--font-manrope), system-ui, sans-serif;
  --body-font: var(--font-archivo), system-ui, sans-serif;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

ody {
  font-family: var(--body-font);
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}